.card {
  box-shadow: var(--shadow-light);
  border: 1px solid var(--color-grey-light-4);
  border-radius: 0.7rem;
  display: flex;
  height: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  &__list {
    list-style: none;
    text-align: center;
  }

  &__item {
    display: flex;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 0.2rem;
    }
  }

  &__link {
    width: 100%;
    padding: 1rem;
    &:visited,
    &:link {
      font-size: 1.7rem;
      text-decoration: none;
      color: var(--color-grey-dark-2);
      &:hover {
        background-color: var(--color-grey-light-4);
      }
    }
  }

  &__recent {
    width: auto;
    grid-row: 2/3;
    padding: 0 3rem;
    margin: 3rem 2rem;
  }

  &__photo {
    margin-top: 2rem;
    width: 20rem;
    height: 15rem;
  }

  &__name {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  &__box-link {
    &:visited,
    &:link {
      text-decoration: none;
      font-size: 1.7rem;
      text-decoration: none;
      color: var(--color-grey-dark-2);
    }
  }
}
